{% extends "base.html"%}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKa5N63heYUWBRUVmGSuGCGB7lRX4i2oQ&callback=initMap" async defer></script>
    <script>
      var map;
      var locations = {{ location_points | safe() }} ;
      var polylinePath = new Array();

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.9794500, lng: 23.7162200},
            zoom: 11
          });
          createMarkers();
          drawPolyline();
        }

        // Adds a marker to the map.
        function addMarker(location, map) {
          var loc = {lat: location.latitude, lng: location.longitude};
          var marker = new google.maps.Marker({
            position: loc,
            map: map,
            title: location.phone_id
          });
          polylinePath.push(loc);
          var contentStr = '<div>' + location.timestamp + '</div>' + '<div>' + location.latitude + ',' + location.longitude + '</div>'
          addInfoWindow(marker, contentStr);
        }

        function createMarkers(){
            for (var i=0; i< locations.length; i++){
                addMarker(locations[i], map);
            }
        }

        function addInfoWindow(marker, contentStr){
            var infoWindow = new google.maps.InfoWindow({
                content: contentStr
            });
            marker.addListener('click', function(){
                infoWindow.open(map,marker);
            });
        }

        function drawPolyline(){
            var polypath = new google.maps.Polyline({
                path: polylinePath,
                geodesic: true,
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 2
            });
            polypath.setMap(map);
        }


      //window.onload = function() {
      //  createMarkers();
      //  drawPolyline();
      //};
    </script>

{% endblock%}

{% block body%}
    <style>
      #map {
        height: 100%;
      }
    </style>
    <div id="map"></div>

{% endblock%}