{% extends "base.html"%}

{% block head %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">

{% endblock %}

{% block body%}

{% if researchers: %}
<form id="user-form" method="post" action="/multiselect_users">
<div class="row" style="margin-bottom:5px;">
    <p class="col-md-2" id="user-form-text"> </p><button id="users-form-button" onclick="submitForm();" class="btn btn-default col-md-1" style="height:35px;" disabled>Submit</button>
</div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Researchers</b></div>
            <table class="table table-striped" id="user-table">
                <thead>
                    <th>Device ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Last Updated</th>
                </thead>
                <tbody>
                    {% for researcher in researchers: %}
                        <tr>
                            <td><a href="{{ url_for('show_device_locations', device_id=researcher.phone_id) }}">{{ researcher.phone_id }}</a></td>
                            <td> {{ researcher.name }}</td>
                            <td> {{ researcher.surname }}</td>
                            {% if researcher.last_updated: %}
                                <td> <script> document.write(moment.utc('{{ researcher.last_updated}}').zone(120).fromNow()); </script> </td>
                            {% else: %}
                                <td> {{researcher.last_updated}} </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</form>
{% endif %}

<script type="text/javascript">
    var user_table;
    $(function(){
        user_table = $('#user-table').DataTable(
             {
                "aoColumnDefs": [
                  { "bSortable": false, "bVisible" : true ,"aTargets": [ 0 ] }
                ]
             }
        );


        $('#user-table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('info');
            var num_selected = user_table.rows(' .info').data().length;
            updateText(num_selected);
            toggleButton(num_selected);
        } );

        updateText(0);
    });

</script>

<script>
    function toggleButton(selected_checkboxes){
        var shouldBeEnabled = selected_checkboxes<1 ;
        $('#users-form-button').prop('disabled', shouldBeEnabled);
    }

    function updateText(selected){
        $('#user-form-text').html("You have selected "+selected+" users");
    }

    function submitForm(){
        var selected_ids = $.map(user_table.rows(' .info').data(), function(item){
            var parser = new DOMParser();
            var doc = parser.parseFromString(item[0], "text/xml");
            var id = doc.firstChild.firstChild.data;

            var input = $("<input>").attr("type", "hidden").attr("name", "check").val(id);
            $('#user-form').append($(input));
            return id;

        });
        console.log(selected_ids);
    }


</script>

{% endblock %}